.maindiv{
    width: 95%;
    /* border: 2px solid black; */
    /* height: 15000px; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-image:url(./movieapp\ 2.jpeg) ;
    background-size: cover;
    /* color: white; */
}

.card{
    width: 32%;
    border: 2px solid rgb(14, 13, 13);
    height:450px;
    border-radius: 20px;
    margin-bottom: 20px;
}

.card > img{
    width: 80%;
    height: 170px;
}

.card p:nth-child(5){
   
    /* border: 2px solid black; */
    line-height: 120%;
     
}